.card-back {
	background: #c942c9;
	width: 100%;
	height: 20vh;
	margin: 10px;
	border-radius: 20px;
	margin: auto;
}

.card-front {
	background: none;
	width: 100%;
	height: 20vh;
	font-size: 5rem;
	padding: auto;
	margin: 10px;
	border-radius: 20px;
	border: 1px solid red;
	margin: auto;
}
